DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=crypto_exchange
DB_USERNAME=postgres
DB_PASSWORD=postgres
APP_KEY= RUN php artisan key:generate HERE!!

APP_DEBUG=true
APP_ENV=local
SESSION_DRIVER=cookie
